$main-color-dark: #999;

$controls-bg-light: #E8F0EF;
$controls-bg: #EAF0F5;
$controls-bg-dark: #E0E5EA;

//$sidebar-bg: #01579B;
$sidebar-bg: #263238;

$h-line: #CCCCCC;

$link: #0059B2;
$visited-link: #551A8B;

$blood-red: #DD0000;
$green-wood: #007700;
$deep-orange: #DB7B04;

$main: #263238;
$components: #ad1445;
$animations: #1c6a60;
$utils: #0e6498;

// #c8d2eb;
// #01579B;
// linear-gradient(60deg, #866, #01579B)