.container {
  width: 100%;
  min-height: 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  word-break: break-all;
  text-align: left;
  text-transform: uppercase;
  font-family: 'PT Mono', monospace;
}
